.idea/
.clion.source.upload.marker
.vscode/
build/
build-*/
cmake-build-*/
html/
deps/*
!deps/*.tar.gz
logs/
.tags
tags
*.log
tair-cli.history
dfs-cli.history
src/client/tools/TairCommands.inc
src/replicator/version.hpp
src/server/version.hpp
src/client/version.hpp
tcl_tests/tests/tmp
tcl_tests/tests/cluster/tmp/
tests/py_tests/tests/assets/redis-6.0
aof.list
appendonly.aof_1
*.profraw
*.profdata
main_coverage.info
coverage.info
coverage.xml
gcov_out/
dtrace_*_usdt.h
test_*.txt
.DS_Store
*/.DS_Store
*.cmake
CMakeFiles
compile_commands.json
CMakeCache.txt
Makefile
bin/
.cache
*.swp
.gdb_history
core.*
node_modules/
package-lock.json

__pycache__/
tmp/
binlog
iotest.tmp
shutdown.flag
*.class
*.dylib
*.o
*.a
*.so
